/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    /* background-color: gray; */
    /* width: 100%; */
}
/* Navigation bar: Logo and Image */
#logo{
    margin: 9px 34px;
}
#logo img{
    height: 97px;
    margin: 1px 25px;
}
/* Navigation bar: List styling */
#navbar ul{
    display: flex;
    font-family: 'Potta One', cursive;
    /* justify-content: center;
    align-items: center;
    margin: auto; */
}
#navbar::before{
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 601px;
}
#home::before{
    content: '';
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 719px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
/* Utility Class */
#home h1{
    color: white;
    text-align: center;
    font-family: 'Potta One', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px 50px;
    font-family: 'Potta One', cursive;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: #f2f2f2;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Potta One', cursive;   
}
.h-primary{
    font-family: 'Potta One', cursive;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: 'Potta One', cursive;
    font-size: 37px;
    padding: 12px;
}
h2{
    text-align: center;
}

.center{
    text-align: center;
}
#client-section{
    height: 344px;
}
#client-section::before{
    content: '';
    background: url('../bg.jpg');
    position: absolute;
    width: 100%;
    height: 370px;
    z-index: -1;
    opacity: 0.5;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 100px;
} 
.client-item{
    padding: 34px;
}
#contact{
    position: relative;
    margin: 25px auto;
}
#contact::before{
    content: "";
    background: url('../contact.jpg') no-repeat center center/cover;
    position: absolute;
    height: 599px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
footer{
    background-color: black;
    color: white;
    /* padding: 9px auto; */
    height: 50px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Potta One', cursive;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.form-group input{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}